# --- AI & Secrets (САМОЕ ВАЖНОЕ) ---
.env
*.log
history.json

# --- Python Base ---
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
env/

# --- Playwright (Иначе зальешь гигабайты браузеров) ---
ms-playwright/
test-results/
screenshots/
videos/

# --- Docker & OS ---
.DS_Store
.idea/
.vscode/
.docker/

# --- Frontend (если будешь билдить монитор) ---
node_modules/
dist/
